@media screen and (min-width: 851px) {

	#desktop_nav{
        display: block;
    }
    #mobile_nav{
        display: none;
    }
    #wrapper{
        justify-content: center;
    }
    
}

@media screen and (max-width: 850px) {

	#desktop_nav{
        display: none;
    }
    #mobile_nav{
        display: block;
    }
    #wrapper{
        justify-content: flex-start;
        margin-top: 50px;
    }

}

#mobile_nav{
    
    width: 100%;

}

#mobile_nav a{

    display: block;
    width: 100%;
    height: auto;
    border: none;
    //margin-bottom: 25px;
    
}

#mobile_nav a img{

    width: 100%;
    height: auto;
    
}




  /* Navbar MOBILE */
    .navbar {
      position: fixed !important;
      top: 0;
      width: 100%;
      height: 50px;
      background-color: rgba(40,40,40,1);
      color: #fff;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: .5rem 1.5rem;
      z-index: 1000;
    }

    .navbar .brand {
      font-size: 1.5rem;
      font-weight: bold;
    }

    .hamburger {
      width: 30px;
  height: 16px;
  position: relative;
  border: none;
  background: none;
  cursor: pointer;
  z-index: 1001;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: none;
    }

    .bar {
  height: 3px;
  width: 20px;
  background-color: white;
  transition: all 0.3s ease;
  //border-radius: 2px;
}

/* Transform hamburger into X */
.hamburger.active {
    background-color: rgba(0,0,0,0) !important;
}
.hamburger:hover {
    background-color: rgba(0,0,0,0) !important;
}
.hamburger.active .bar:nth-child(1) {
  transform: rotate(45deg) translateY(10px);
}
.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}
.hamburger.active .bar:nth-child(3) {
  transform: rotate(-45deg) translateY(-9.5px);
}

  /* Slide-down Menu */
.slide-down-menu {
  position: fixed;
  top: 50px; /* height of the navbar */
  left: 0;
  width: 100%;
  background-color: rgba(40,40,40,1);
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.4s ease-in-out;
  z-index: 999999;
}

.slide-down-menu.open {
  max-height: 300px; /* adjust depending on how many links */
  padding-bottom: 1rem;
}

.slide-down-menu a {
  display: block;
  padding: 5px 22px;
  color: white;
  text-decoration: none;
  font-weight: 900;
  border-bottom: none;
}

.slide-down-menu a:hover {
  background-color: #333;
}
